@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
* {
  margin: 0;
  padding: 0; }

@media (min-width: 375px) {
  .navbar-brand img {
    width: 100%;
    height: 60px; }
  .nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Comfortaa', cursive; } }

/* Estrategia: Mobile First 460px*/
@media (min-width: 420px) {
  .navbar-brand img {
    width: auto;
    height: 60px; }
  .nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Comfortaa', cursive; } }

/* Estrategia: Mobile First 768px*/
@media (min-width: 340px) {
  .navbar-brand img {
    display: none; }
  .imgmain {
    width: 100%; } }

@media (min-width: 375px) {
  .navbar-brand img {
    display: block;
    width: 100%; }
  .imgmain {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px; }
  .div-centrado {
    width: 500px;
    margin: auto; }
  .main_h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 25px;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    text-align: center; }
  .accordion-body {
    width: 350px;
    text-align: justify;
    font-family: 'Comfortaa', cursive; } }

/* Estrategia: Mobile First 460px*/
@media (min-width: 420px) {
  .imgmain {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px; }
  .div-centrado {
    width: 500px;
    margin: auto; }
  .main_h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 25px;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    text-align: center; }
  .accordion-body {
    width: 350px;
    text-align: justify;
    font-family: 'Comfortaa', cursive; } }

/* Estrategia: Mobile First 768px*/
@media (min-width: 768px) {
  .accordion-item {
    margin-bottom: 30px; } }

/* Estrategia: Mobile Last 1024px*/
@media (min-width: 1024px) {
  .navbar-nav li a {
    transition: all 0.5s ease; }
  .navbar-nav li a:hover {
    padding: 5px 10px;
    background-color: #ef99f7;
    color: white;
    border-radius: 5px; }
  .div-centrado {
    width: 800px;
    margin: auto; }
  .accordion-body {
    width: 757px; } }

@media (min-width: 375px) {
  .div_nos_p {
    padding: 15px;
    text-align: start;
    font-family: 'Comfortaa', cursive; }
  .div_nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .imgnos {
    width: 300px; } }

/* Estrategia: Mobile First 460px*/
@media (min-width: 420px) {
  .div_nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .imgnos {
    width: 300px; } }

/* Estrategia: Mobile First 768px*/
@media (min-width: 768px) {
  .imgnos {
    width: 450px; } }

/* Estrategia: Mobile Last 1024px*/
@media (min-width: 1024px) {
  .div_nos {
    display: flex;
    flex-direction: row;
    padding: 20px; }
  .imgnos {
    width: 600px; } }

@media (min-width: 375px) {
  .piedra_grilla_padre {
    display: flex;
    flex-direction: column; }
  .piedra_grilla_padre div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; }
  .piedra_grilla_padre img {
    width: 150px; }
  .piedra_grilla_padre p {
    text-align: center;
    align-items: center;
    font-family: 'Comfortaa', cursive; }
  .img_piedra_titulo {
    font-weight: 500; } }

/* Estrategia: Mobile First 460px*/
@media (min-width: 420px) {
  .piedra_grilla_padre {
    display: flex;
    flex-direction: column; }
  .piedra_grilla_padre div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; }
  .piedra_grilla_padre img {
    width: 150px; }
  .piedra_grilla_padre p {
    text-align: center;
    align-items: center;
    font-family: 'Comfortaa', cursive; }
  .img_piedra_titulo {
    font-weight: 500; } }

/* Estrategia: Mobile First 768px*/
@media (min-width: 768px) {
  .piedra_grilla_padre div {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .piedra_grilla_padre p {
    padding: 40px; } }

/* Estrategia: Mobile Last 1024px*/
@media (min-width: 1024px) {
  .piedra_grilla_padre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9"; }
  .img1 {
    grid-area: img1; }
  .img2 {
    grid-area: img2; }
  .img3 {
    grid-area: img3; }
  .img4 {
    grid-area: img4; }
  .img5 {
    grid-area: img5; }
  .img6 {
    grid-area: img6; }
  .img7 {
    grid-area: img7; }
  .img8 {
    grid-area: img8; }
  .img9 {
    grid-area: img9; } }

/* Estrategia: Mobile First 460px*/
.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative; }

.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #5543ca;
  background: #5543ca;
  background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
  background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; }

.contact-form .form-field {
  position: relative;
  margin: 32px 0; }

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400; }

.contact-form .input-text:focus {
  outline: none; }

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px); }

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,  -webkit-transform .2s ease-in-out; }

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #a72879, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer; }

@media (min-width: 340px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center; } }

@media (min-width: 375px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
    flex-direction: column; }
  .footer ul {
    display: flex;
    flex-wrap: wrap; }
  .footer li {
    list-style-type: none;
    padding: 5px;
    font-family: 'Comfortaa', cursive; } }

/* Estrategia: Mobile First 460px*/
@media (min-width: 420px) {
  .formulario {
    font-family: 'Comfortaa', cursive; }
  /* FOOTER */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 24px;
    flex-direction: row;
    margin: 21px;
    min-height: 115vh; }
  .footer ul {
    display: flex;
    flex-wrap: wrap; }
  .footer li {
    list-style-type: none;
    padding: 5px;
    font-family: 'Comfortaa', cursive; } }

/* Estrategia: Mobile First 768px*/
@media (min-width: 768px) {
  .footer {
    flex-direction: row; } }
