@media (min-width: 340px){
    .footer{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

}
@media (min-width:375px){
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px;
        flex-direction: column;
    }
    .footer ul{
        display: flex;
        flex-wrap: wrap;
    }
    .footer li{
        list-style-type: none;
        padding: 5px;
        font-family: 'Comfortaa', cursive;
    }


}
/* Estrategia: Mobile First 460px*/
@media (min-width:420px){
    .formulario{
        font-family: 'Comfortaa', cursive;
    }
    
        /* FOOTER */
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin: 24px;
        flex-direction: row;
        margin: 21px;
        min-height: 50vh;
    }
    .footer ul{
        display: flex;
        flex-wrap: wrap;
    }
    .footer li{
        list-style-type: none;
        padding: 5px;
        font-family: 'Comfortaa', cursive;
    }
}

/* Estrategia: Mobile First 768px*/
@media (min-width:768px){
    .footer{
        flex-direction: row;
    }
}