@media (min-width: 320px){
    .footer{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
}
@media (min-width:375px){
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px;
        flex-direction: column;
    }
    .footer ul{
        display: flex;
        flex-wrap: wrap;
    }
    .footer li{
        list-style-type: none;
        padding: 5px;
        font-family: 'Comfortaa', cursive;
    }


}
/* Estrategia: Mobile First 420px*/
@media (min-width:420px){
    .formulario{
        font-family: 'Comfortaa', cursive;
    }
    
        /* FOOTER */
    .footer{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: end;
        margin: 24px;
        margin: 21px;
    }
    .footer ul{
        display: flex;
        flex-wrap: wrap;
    }
    .footer li{
        list-style-type: none;
        padding: 5px;
        font-family: 'Comfortaa', cursive;
    }
}

/* Estrategia: Mobile First 768px*/
@media (min-width:768px){
    .footer{
      align-items: end;
    }
}

.redes {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  