@media (min-width: 320px){

    .row{
        margin-left: auto;
        margin-right: auto;
    }

    .main_prod_h1{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .card-text{
       font-weight: 300;
        
    }

}
/* Estrategia: Mobile First 460px*/
@media (min-width:420px){
    .cards {
        box-shadow: 15px 15px 30px rgb(25, 25, 25),
                    
       }

    
}
@media (min-width: 1024px){
    /* Estilos para las cartas */
.card {
    transition: transform 0.3s ease; /* Transición suave para el cambio de tamaño */
  }
  
  /* Estilos cuando el mouse pasa por encima de las cartas */
  .card:hover {
    transform: scale(1.1); /* Aumentar el tamaño de la carta en un 10% */
    background-color: #f8f8f8; /* Cambiar el color de fondo al pasar el mouse */
}
}

  